@import "../extras/mixins";
@import "../extras/utils";
@import "../variables.scss";

.container {
  padding: 0;
}

.form {
  margin-top: 64px;
  margin-bottom: 64px;
  background-color: rgba($primary, 0.025);
  border-radius: 4px;
  padding: 24px;
  width: 100%;

  @include media(sm) {
    padding: 48px;
  }

  @include media(lg) {
    padding: 64px;
  }

  .content {
    .submit {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      -webkit-box-pack: justify;
      justify-content: space-between;
      width: 100%;

      @include media(sm) {
        flex-direction: row;
      }

      input {
        appearance: none;
        width: 100%;
        height: 44px;
        border: 1px solid $dark;
        background-color: $black;
        color: $light;
        font-size: 15px;
        line-height: 1.5;
        font-weight: 400;
        padding: 0px 15px;
        box-sizing: border-box;
        border-radius: 2px;
        transition: border-color 0.25s ease 0s;
        margin-bottom: 24px;
        max-width: 100%;

        @include media(sm) {
          margin-bottom: 0;
          max-width: calc(40% - 30px);
        }

        &:focus {
          outline: none;
          box-shadow: none;
          border-color: $primary;
        }
      }

      button {
        cursor: pointer;
        align-items: center;
        justify-content: center;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        background-color: $primary;
        transition: all 0.3s ease 0s;
        padding: 0px 27px;
        height: 44px;
        width: auto;
        border: 0px;
        opacity: 1;

        span {
          color: $black;
          font-size: 15px;
          font-weight: 600;
          text-decoration: none;
        }

        &:hover {
          opacity: 0.64;
        }
      }
    }
  }
}
