@import "../extras/utils";
@import "../extras/mixins";

.doubleContent {
  display: flex;
  flex-direction: column;

  @include media(md) {
    flex-direction: row;
  }
}

.sideImage {
  position: relative;
  width: 100%;

  @include media(md) {
    max-width: 360px;
  }

  .containerImage {
    width: 100%;
    min-width: 100%;

    @include media(md) {
      width: 360px;
      position: sticky;
      top: 80px;
    }

    @include media(lg) {
      top: 96px;
    }
  }
}

.sideContent {
  margin-left: 0;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  display: flex;
  width: 100%;

  @include media(md) {
    margin-top: 0;
    margin-left: 40px;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
